DATABASE_URL=postgresql://db_back_user:dbbackpass@127.0.0.1:5433/db_development
PROJECT_NAME=fl

POSTGRES_HOST=db
POSTGRES_DB=db_development
POSTGRES_USER=db_back_user
POSTGRES_PASSWORD=dbbackpass
DB_LOCAL_PATH=./db-data/н

NEXT_PUBLIC_BACKEND=http://localhost:3000/api