/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: bold;
  font-style: normal;
  src: url(./fonts/AvenirNextCyr-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url(./fonts/AvenirNextCyr-Regular.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 text-sm;
}

svg {
  fill: currentColor;
}
input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
