@mixin inputBase {
  font-family: var(--fonts-secondary);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7143;
  letter-spacing: 0.05em;
  height: 48px;
  align-items: center;
  appearance: none;
  background: transparent;
  border-radius: 24px;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 12px 16px;
  transition: 0.2s ease-in;
  border: 1px solid transparent;

  // * Remove default Arrows/Spinners
  // * Chrome, Safari, Edge, Opera
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // * Firefox
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.default {
  @include inputBase;
  color: var(--secondaryDarkBlue920);
  background: var(--secondaryDarkBlue940);

  &:hover {
    background: var(--primaryBlue930);
  }

  &:focus {
    color: var(--secondaryDarkBlue900);
    border: 1px solid var(--primaryBlue910);
  }

  &:disabled {
    // color: rgba(var(--secondaryDarkBlue920), 0.5);
    color: rgba(155, 169, 183, 0.5);
  }
}

.search {
  @include inputBase;
  color: var(--secondaryDarkBlue921);
  background: var(--white);
  box-shadow: var(--shadow4);

  &:hover {
    border: 1px solid var(--secondaryDarkBlue930);
  }

  &:focus {
    color: var(--secondaryDarkBlue910);
    border: 1px solid var(--secondaryDarkBlue920);
  }

  &:disabled {
    color: var(--secondaryDarkBlue921);
  }

  &:not(:placeholder-shown) {
    color: var(--secondaryDarkBlue910);
  }
}

.error {
  @apply border-auxiliaryRed900 bg-auxiliaryRed940;
}
